#DivGeral {
    width: 270px;
    height: 320px;
    border: 7px;
    background-color: #f3f3f3;
    border-radius: 10px;    
}

#DG2 {
    width: 259px;
    height: 194px;
}

#Botao {
    width: 100%;
    background-color: rgb(98, 189, 250);
    color: white;
    border: 0;
    border-radius: 0;
}

.Ima {
    display: flex;
    justify-content: center;
}

